@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: rgb(81, 45, 168);
		--background-circles: rgb(66, 37, 146);
		--background-secondary: rgb(166, 142, 232);
		--background-primary-linear-first: rgb(207, 189, 255);
		--background-primary-linear-second: rgb(249, 245, 255);
		--background-secondary-linear-first: rgb(81, 45, 168);
		--background-secondary-linear-second: rgb(241, 233, 255);
		--background-button-linear-first: rgb(124, 77, 255);
		--background-button-linear-second: rgb(74, 46, 153);
		
		--text: rgb(249, 245, 255);
		--text-link: rgb(166, 142, 232);
		--text-secondary: rgb(33, 33, 33);
		--text-placeholder: rgb(183, 183, 183);
		
		--error: rgb(255, 0, 0);
		--success: rgb(0, 255, 0);
	}
}

.gm-style-iw-tc {
	display: none;
}

.gm-style-iw-d {
	overflow: unset !important;
	background: transparent !important;
}

.gm-style-iw-c {
	overflow: unset !important;
	padding: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	background: transparent !important;
}

.gm-style {
	font: inherit !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--text-secondary);
	background: var(--background-primary-linear-first);
	border-radius: 50%;
	cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(14%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(96%) contrast(87%);
}

input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(14%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(96%) contrast(87%);
}
