@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: rgb(81, 45, 168);
		--background-circles: rgb(66, 37, 146);
		--background-form: rgb(166, 142, 232);
		--background-form-linear-first: rgb(207, 189, 255);
		--background-form-linear-second: rgb(249, 245, 255);
		--background-main-linear-first: rgb(81, 45, 168);
		--background-main-linear-second: rgb(241, 233, 255);
		
		--text: rgb(249, 245, 255);
		--text-link: rgb(166, 142, 232);
		--text-secondary: rgb(33, 33, 33);
		--text-placeholder: rgb(183, 183, 183);
		
		--error: rgb(255, 0, 0);
	}
}